body {margin: 0;overflow-y: scroll;}

p { margin-top: 0; }

.grid { display: flex; flex-wrap: wrap; }
.grid.one > *, .grid > .full.full {
	width: 100%;
}

.grid.two > *, .grid > .half {
	width: 50%;
	box-sizing: border-box;
}

.grid.three > *, .grid > .third {
	width: 33.3333%;
}

.grid > .thirds {
	width: 66.6666%;
}

.pad0, .pad0-c > * { padding: 0; }
.pad1, .pad1-c > * { padding: 1em; }
.stack0, .stack0-c > * { margin-bottom: 0; }
.stack1, .stack1-c > * { margin-bottom: 1em; }

:last-child { margin-bottom: 0; }
:first-child { margin-top: 0; }

.ib { display: inline-block; }

.centered { margin-left: auto; margin-right: auto; }


.ff-montserrat { font-family: Montserrat; }
.ff-verdana { font-family: Verdana; }
.ff-tahoma { font-family: Tahoma; }
.ff-trebuchet { font-family: "Trebuchet MS"; }