.test { background: #eee; margin-bottom: 0.5em; }
.test .bar { background: #ddd; padding: 0.4em 0.6em 0; }
.test .content { background: #ddd; padding: 0.5em; }

.test.dark { background: #333; }
.test.dark .bar { background: #444; color: white; }
.test.dark .content { background: #444; }